@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --bg-clr-1: #353333;
  --bg-clr-2: #35363a;
  --bg-clr-3: #f1f5f8;
  --bg-clr-4: #1a1a1d;
  --bg-clr-5: #fccc47;
  --bg-clr-6: #ee5743;
  --bg-clr-7: hsl(210, 50%, 14%);
  --bg-clr-8: #d2dbdc;
  --german-red: #d60000;
  --german-yellow: #f7c800;
  --shadow-cyan-1: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px cyan;
  --shadow-cyan-2: 0 0 5px #fff, 0 0 10px cyan, 0 0 20px cyan;
  --shadow-cyan-3: 0 0 20px cyan, 0 0 30px cyan;
  --shadow-red-1: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red;
  --shadow-red-2: 0 0 20px red, 0 0 30px red;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-clr-3);
}
a {
  text-decoration: none;
}
.landed {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("room.jpg");
  background-size: cover;
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 3rem;
}
.landed div {
  margin-right: 80px;
}
.scroll-link {
  color: white;
}
.nav-bar {
  font-family: Montserrat;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  /* background: black; */
  position: fixed;
  width: 100%;
  padding: 0rem 10%;
  /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75); */
  /* -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75); */
}
.nav-items li {
  margin-right: 1.5rem;
  list-style-type: none;
  font-size: 1.2rem;
  float: left;
}
.nav-items li a:hover {
  font-weight: 500;
}
.nav-toggle {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}
.logo {
  /* width: 18.75rem; */
  width: 16rem;
}
.hide {
  width: 5.025rem;
  visibility: hidden;
}
.black {
  color: black;
}
.red {
  color: var(--german-red);
}
.yellow {
  color: var(--german-yellow);
}
.college {
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
}

/****** THE CONTENT  ******/

.the-content {
  /* margin: 10.625rem 3.125rem; */
  width: 90%;
  /* background: bisque; */
  margin: 10.625rem auto;
}
.header {
  color: black;
  font-family: Bebas Neue, sans-serif;
  font-size: 3.35rem;
  letter-spacing: 1px;
  line-height: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 100%;
}
.text {
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.688rem;
  font-weight: 400;
  max-width: 900px;
}

/* .events {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80vw;
  text-align: center;
  margin: 0 auto;
} */
.events {
  display: flex;
  justify-content: center;
}
.card {
  width: 350px;
  max-width: 28.25rem;
  text-align: left;
  margin: 0 20px;
  padding: 1.45rem 2.163rem 1.875rem 1.875rem;
  border: 2px solid black;
  border-radius: 20px;
}
.title {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0.3rem 0;
  margin-bottom: 0.7rem;
  /* height: 20%; */
}
.event-text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  /* height: 60%; */
}
.social-media {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  list-style-type: none;
  font-size: 3rem;
  max-width: 400px;
  margin: 0 auto;
}
.social-media a {
  color: black;
  margin: 0.5rem 1.875rem;
}
.fb:hover {
  color: #3b5998;
}
.twitter:hover {
  color: #00acee;
}
.insta:hover {
  color: red;
}
.linkedin:hover {
  color: #0077b5;
}
.github:hover {
  color: white;
  background: black;
}
.medium:hover {
  color: white;
  background: black;
}
/****** FORM  ******/
form {
  width: 43.75rem;
  background-color: white;
  margin-left: 130px;
  text-align: right;
  box-shadow: 0px 0px 8px black;
}
form button {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: normal;
  /* background: #d9c6b2; */
  background: white;
  padding: 10px;
  border: 2px solid #beae9d;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 8px;
}
form button:hover {
  background: #d9c6b2;
  border: 1px solid #beae9d;
  color: white;
  font-weight: Normal;
}
input,
textarea {
  border: none;
  padding: 20px;
  width: 100%;
  resize: none;
  font-family: Montserrat;
}
input {
  border-bottom: 1px solid #d9c6b2;
}
input:focus,
textarea:focus {
  outline: none;
}

/****** THE FOOTER  ******/
footer {
  /* background: #f7f7f7; */
  border-top: 1px solid #aa9989;
  padding: 15px;
  background: #d9c6b2;
}
.left {
  /* text-align: left; */
  font-size: 2.7rem;
}
.connect {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}
.team {
  display: flex;
  /* font-family: Bebas Neue; */
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  font-family: Montserrat;
}

/****** Responsive - Mobile  ******/
@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
  .text {
    width: 85%;
    font-size: 1.388rem;
  }
  .nav-bar {
    margin: 0;
    display: block;
    padding: 0 2rem;
  }
  .hide {
    visibility: hidden;
  }
  .nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    display: block;
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .nav-items {
    height: 0;
    overflow: hidden;
    font-weight: 300;
    transition: all 0.3s linear;
    display: block;
  }
  .nav-items li {
    float: none;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .show-items {
    margin-bottom: 1.5rem;
  }
  .landed div {
    margin-right: 0px;
  }
  .events {
    width: 100%;
    display: block;
  }
  .card {
    width: 90%;
    margin: 1rem auto;
  }
  form {
    width: 95%;
    margin-left: 0px;
  }
}
